<h2 class="mt-2">Publish Comment</h2>
<form method="POST" action="/questions/questions/{{ commentId }}/comment">  <div class="form-group">
    <label for="content">Comment:</label>
    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Comment</button>
</form>
