<div class="container mt-5 mx-auto">
      <div class="col mb-4">
      <a class="btn btn-danger w-100" href="/users/logout" role="button">Odjava</a>
    </div>
  <h1 class="mb-4">User Profile</h1>
  
  <div class="row mb-3">
    <div class="col"><h2 class="fw-normal">Username:</h2></div>
    <div class="col"><h2 class="fw-light">{{username}}</h2></div>
  </div>
  <div class="row mb-3">
    <div class="col"><h2 class="fw-normal">E-mail:</h2></div>
    <div class="col"><h2 class="fw-light">{{email}}</h2></div>
  </div>
  <div class="row">
    <div class="col"></div>
  
  </div>
</div>
