<h2 class="mt-2">Publish Answer</h2>
<form method="POST" action="/questions/{{ questionId }}/answer">  <div class="form-group">
    <label for="content">Answer:</label>
    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Answer</button>
</form>
